.panel_lateral {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  // background-color: #f0f0f0;
  color: #090909;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  background-color: #f0f0f0;
}
.content {
  padding: 5px;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 17px;
  // border-bottom: 1px solid #bdc3c7;
}
.titulo {
  font-size: 0.85rem;
}
.titulo::before {
  content: "";
  display: inline-block;
  margin-left: 24px;
  margin-right: 12px;
  width: 36px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #2c7fcc;
}
