.container2 {
  z-index: 999999;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  width: 100vw;
  min-height: 100vh;
}
$colour: rgba(rgb(160, 152, 152), 0.5);
.transparentize {
  background-color: transparentize($colour, 0.2);
}
.content {
  display: block;
  min-width: 80vw;
  min-height: 80vh;
  left: 0px;
  right: 0px;
}