.btn1, .btn2 {
  color: white;
  font-size: small;
  display: flex;
  align-items: center;
  padding: 5px; /* Agrega un espacio entre los elementos */
}

button span {
  color: white;
  font-size: small;
  display: flex;
  align-items: center;
}

.pestanaHoja {
  padding-top: 5px; /* Ajusta el valor para que tenga píxeles */
  padding-bottom: 5px; /* Ajusta el valor para que tenga píxeles */
  border-radius: 0px;
  margin: 2px;
  border: 1px solid var(--gris_claro_b);
  background-color: var(--blanco);
}

/* Efecto de click */
.nombreColor {
  background-color: #f1f1f12b;
  color: var(--blanco);
}

@keyframes anime {
  from { opacity: 0; }
  to { opacity: 1; }
}